<?php
class Foo
{

  public $bar = 'property';
  
  public function bar() {
    return 'method';
  }
}

$obj = new Foo();
echo $obj->bar, PHP_EOL, $obj->bar(), PHP_EOL;

?>
Class properties and methods live in separate "namespaces", so it is possible to have a property and a method with the same name.
Referring to both a property and a method has the same notation, and depends on whether the usage is a varable access of function call

The above example with output:
property
method
